<%- include("header") -%>
<h2>This is an about page</h2>
<p>jfnskjnfk jnfekjsfnkjesnf nfenfjksef nkjsnfdjk  njdfnf d nfjd nfjdnksnfjds njsbfehfbjbuirgb rr fh8shf ndsjkvn s dbsjkfbsdk jfbjdsbfjksd fbsdkjfbksdj</p>
<%- include("footer") -%>